{# src/AppBundle/Resources/views/admin.html.twig #}

{% extends "@App/adminlayout.html.twig" %}

{% block title %}
  {{ parent() }} 
{% endblock %}

{% block admingeology_body %}
  <p>
   Admin of geology!
  </p>
{% endblock %}
