{# src/AppBundle/Resources/views/searchpoints.html.twig #}

{% extends "@App/searchlayout.html.twig" %}

{% block title %}
  {{ parent() }} 
{% endblock %}

{% block searchgeology_body %}
  <p>
   Search in points geology!
  </p>
{% endblock %}
