	<Table class="granuloTitle newLine newLine_granulo" width = "100%" style="display:none">
		<TR>
			<TH width="5%">
				<label for="inp_granuloWeightTot" class="labelsview">Weight tot.</label>
			</TH>
			<TH width="5%">
				<label for="inp_granuloWeightSand" class="labelsview">Weight sand</label>
			</TH>
			<TH width="5%">
				<label for="inp_granulo+2000" class="labelsview"> &gt;2000 </label>
			</TH>
			<TH width="5%">
				<label for="inp_granulo-2000" class="labelsview"> &lt;2000 </label>
			</TH>
			<TH width="5%">
				<label for="inp_granulo-1400" class="labelsview">&lt;1400</label>
			</TH>
			<TH width="5%">
				<label for="inp_granulo-1000" class="labelsview">&lt;1000 </label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-710" class="labelsview">&lt;710 </label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-500" class="labelsview">&lt;500</label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-355" class="labelsview">&lt;355 </label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-250" class="labelsview">&lt;250 </label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-180" class="labelsview">&lt;180 </label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-125" class="labelsview">&lt;125 </label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-90" class="labelsview">&lt;90 </label>
			</TH>
			<TH  width="5%">
				<label for="inp_granulo-63" class="labelsview">&lt;63 </label>
			</TH>
			<TH  width="15%">
				<label for="inp_granuloDescr" class="labelsview">Description </label>
			</TH>
			<TH  width="5%" colspan=2>
				<label for="inp_granuloDate" class="labelsview">Date </label>
			</TH>
		</TR>

		<TR id="granulo">
			<TD>
				<input type="number" class="inp_granuloWeightTot" value="">
			</TD>
			<TD>
				<input type="number" class="inp_granuloWeightSand" value="">
			</TD>
			<TD>
				<input type="number" class="inp_granulo+2000" value="">
			</TD>
			<TD>
				<input type="number" class="inp_granulo-2000" value="">
			</TD>
			<TD>
				<input type="number" class="inp_granulo-1400" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-1000" value="">
			</TD>
			<TD>
				<input type="number" class="inp_granulo-710" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-500" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-355" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-250" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-180" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-125" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-90" value="">
			</TD>
			<TD>											
				<input type="number" class="inp_granulo-63" value="">
			</TD>
			<TD>											
				<input type="text" class="inp_granuloDescr" value="">
			</TD>
			<TD>											
				<input type="date" class="inp_granuloDate" value="">
			</TD>
			<TD>
				<img src="{{ asset('pics/delete.jpg') }}" class="but_deletegranulo" alt="home" height="12" width="13" onmouseover="" style="cursor: pointer;">  
			</TD>
		</TR>																			
	</Table>